* {
    padding: 0;
    margin: 0;
}

.unOrder {
    min-width: 300px;
}

.progressLi {
    list-style: none;
    padding-left: 24px;
    margin-bottom: 30px;
    position: relative;
    background-size: contain;
    background-origin: 0 50%;
    background-repeat: no-repeat;
}

.progressLiFinished {
    /* background-image: url(https://cdn-icons.flaticon.com/png/512/4315/premium/4315445.png?token=exp=1652553387~hmac=10a60d7db7b3e82d374b9b967c770409); */
    background-image: url(images/correct2.png);
}

.progressLiNotStarted {
    /* background-image: url(https://cdn-icons-png.flaticon.com/512/481/481078.png); */
    background-image: url(images/dry-clean3.png);
}

.ulProgress {

    margin: 30px;

}

/* отрисовка линий между маркерами */
.progressLi1::after,
.progressLi2::after,
.progressLi3::after,
.progressLi4::after,
.progressLi5::after {
    content: '';
    position: absolute;
    left: 7px;
    width: 2px;
    height: 14px;
    top: 19px;
    background: #4BAE4F;
}

.progressLi2::before,
.progressLi3::before,
.progressLi4::before,
.progressLi5::before,
.progressLi6::before {
    content: '';
    position: absolute;
    left: 7px;
    width: 2px;
    height: 14px;
    top: -15px;
    background: #4BAE4F;
}

/* стилизация картинок грузовиков */
.startImg,
.finishImg {
    width: 100px;
    margin-left: 30px;
}

/* окраска элементов */
.makeColorLineForActiveElements::before,
.makeColorLineForActiveElements::after {
    background: #4D4D4D;
}